openapi: 3.1.1
info:
  version: "1"
  title: API for iverksetting av vedtak
servers:
  - url: https://utsjekk.intern.nav.no
    description: Generated server url
security:
  - Bearer:
      - read
      - write
paths:
  "/api/simulering/v2":
    post:
      tags:
        - Simulering
      summary: Simuler utbetaling
      description: En dry-run av iverksetting av en utbetaling. Responsen man mottar gir et bilde av hvordan en utbetaling ville sett ut dersom man iverksatte den på samme tidspunkt som man simulerte.
      operationId: hentSimulering
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SimuleringRequestV2Dto"
        required: true
      responses:
        '200':
          description: simulering utfort ok
          content:
            application/json:
              schema:
                type: object
        '204':
          description: ingen endring i utbetaling paa saken, simulering utfores ikke
          content:
            application/json:
              schema:
                type: object
        '400':
          description: ugyldig format paa simulering
          content:
            application/json:
              schema:
                type: object
        '409':
          description: simuleringen er i konflikt med tidligere utbetalinger
          content:
            application/json:
              schema:
                type: object
        '503':
          description: OS/UR er midlertidig stengt
          content:
            application/json:
              schema:
                type: object
  "/api/iverksetting/v2":
    post:
      tags:
        - Iverksetting
      summary: Send utbetaling til Oppdrag
      description: Iverksetter utbetaling mot oppdrag.
      operationId: iverksett
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/IverksettV2Dto"
        required: true
      responses:
        '202':
          description: iverksetting er mottatt
        '400':
          description: ugyldig format paa iverksetting
        '403':
          description: ikke autorisert til aa starte iverksetting
        '409':
          description: iverksetting er i konflikt med tidligere iverksetting
  "/api/iverksetting/{sakId}/{behandlingId}/{iverksettingId}/status":
    get:
      tags:
        - Iverksetting
      summary: Sjekk status på utbetaling
      description: Sjekk status på utbetaling med gitt behandlingId og iverksettingId
      operationId: hentStatus
      parameters:
        - name: sakId
          in: path
          required: true
          schema:
            type: string
        - name: behandlingId
          in: path
          required: true
          schema:
            type: string
        - name: iverksettingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status returnert i body
          content:
            application/json:
              schema:
                type: string
                enum:
                  - SENDT_TIL_OPPDRAG
                  - FEILET_MOT_OPPDRAG
                  - OK
                  - IKKE_PaaBEGYNT
                  - OK_UTEN_UTBETALING
        '404':
          description: Kunne ikke finne iverksetting
          content:
            application/json:
              schema:
                type: string
                enum:
                  - SENDT_TIL_OPPDRAG
                  - FEILET_MOT_OPPDRAG
                  - OK
                  - IKKE_PaaBEGYNT
                  - OK_UTEN_UTBETALING
  "/api/iverksetting/{sakId}/{behandlingId}/status":
    get:
      tags:
        - Iverksetting
      summary: Sjekk status på utbetaling
      description: Sjekk status paa iverksetting med gitt behandlingId
      operationId: hentStatus_1
      parameters:
        - name: sakId
          in: path
          required: true
          schema:
            type: string
        - name: behandlingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status returnert i body
          content:
            application/json:
              schema:
                type: string
                enum:
                  - SENDT_TIL_OPPDRAG
                  - FEILET_MOT_OPPDRAG
                  - OK
                  - IKKE_PaaBEGYNT
                  - OK_UTEN_UTBETALING
        '404':
          description: Kunne ikke finne iverksetting
          content:
            application/json:
              schema:
                type: string
                enum:
                  - SENDT_TIL_OPPDRAG
                  - FEILET_MOT_OPPDRAG
                  - OK
                  - IKKE_PaaBEGYNT
                  - OK_UTEN_UTBETALING
components:
  schemas:
    ForrigeIverksettingV2Dto:
      required:
        - behandlingId
      type: object
      properties:
        behandlingId:
          maxLength: 30
          minLength: 1
          type: string
          description:
            Id på behandlingen i vedtaksløsningen. Brukes for å spore utbetalingen tilbake til den
            konkrete hendelsen som trigget den. Kan også være id på vedtak, meldekort etc. DVH bruker denne når de
            sammenstiller stønadsstatistikk.
        iverksettingId:
          type: string
          format: uuid
          description:
            Id på iverksettingen. Brukes kun når vedtaksløsningen må iverksette flere ganger for samme behandling/vedtak.
    JsonNode:
      type: object
    SimuleringRequestV2Dto:
      required:
        - behandlingId
        - personident
        - sakId
        - saksbehandlerId
        - utbetalinger
      type: object
      properties:
        sakId:
          type: string
          maxLength: 25
          minLength: 1
          description: På grunn av tekniske begrensninger hos OS/UR er det en lengdebegrensning
            på 25 tegn for sakId
        behandlingId:
          type: string
          maxLength: 30
          minLength: 1
          description: På grunn av tekniske begrensninger hos OS/UR er det en lengdebegrensning
            på 30 tegn for behandlingId
        personident:
          type: string
          maxLength: 11
          minLength: 11
          description: Fødselsnummer eller D-nummer
          example: '15507600333'
        saksbehandlerId:
          type: string
          description: NAV-ident til saksbehandler, eller servicebruker til applikasjon dersom vedtaket er fattet fullautomatisk
          example: "A12345"
        utbetalinger:
          type: array
          items:
            "$ref": "#/components/schemas/UtbetalingV2Dto"
        forrigeIverksetting:
          "$ref": "#/components/schemas/ForrigeIverksettingV2Dto"
    StønadType:
      type: object
      properties:
        json:
          type: string
          writeOnly: true
    StønadTypeDagpenger:
      type: string
      allOf:
        - "$ref": "#/components/schemas/StønadType"
      enum:
        - DAGPENGER_ARBEIDSSoKER_ORDINaeR
        - DAGPENGER_PERMITTERING_ORDINaeR
        - DAGPENGER_PERMITTERING_FISKEINDUSTRI
        - DAGPENGER_EoS
    StønadTypeTilleggsStønader:
      type: string
      allOf:
        - "$ref": "#/components/schemas/StønadType"
      enum:
        - TILSYN_BARN_ENSLIG_FORSoRGER
        - TILSYN_BARN_AAP
        - TILSYN_BARN_ETTERLATTE
        - LaeREMIDLER_ENSLIG_FORSoRGER
        - LaeREMIDLER_AAP
        - LaeREMIDLER_ETTERLATTE
    StønadTypeTiltakspenger:
      type: string
      allOf:
        - "$ref": "#/components/schemas/StønadType"
      enum:
        - ARBEIDSFORBEREDENDE_TRENING
        - ARBEIDSRETTET_REHABILITERING
        - ARBEIDSTRENING
        - AVKLARING
        - DIGITAL_JOBBKLUBB
        - ENKELTPLASS_AMO
        - ENKELTPLASS_VGS_OG_HoYERE_YRKESFAG
        - FORSoK_OPPLaeRING_LENGRE_VARIGHET
        - GRUPPE_AMO
        - GRUPPE_VGS_OG_HoYERE_YRKESFAG
        - HoYERE_UTDANNING
        - INDIVIDUELL_JOBBSToTTE
        - INDIVIDUELL_KARRIERESToTTE_UNG
        - JOBBKLUBB
        - OPPFoLGING
        - UTVIDET_OPPFoLGING_I_NAV
        - UTVIDET_OPPFoLGING_I_OPPLaeRING
    StønadsdataDagpengerDto:
      required:
        - meldekortId
        - Stønadstype
      type: object
      allOf:
        - "$ref": "#/components/schemas/StønadsdataDto"
        - type: object
          properties:
            Stønadstype:
              type: string
              enum:
                - DAGPENGER_ARBEIDSSoKER_ORDINaeR
                - DAGPENGER_PERMITTERING_ORDINaeR
                - DAGPENGER_PERMITTERING_FISKEINDUSTRI
                - DAGPENGER_EoS
            ferietillegg:
              type: string
              enum:
                - ORDINaeR
                - AVDoD
            meldekortId:
              type: string
    StønadsdataDto:
      required:
        - Stønadstype
      type: object
      properties:
        json:
          "$ref": "#/components/schemas/JsonNode"
        Stønadstype:
          oneOf:
            - "$ref": "#/components/schemas/StønadTypeDagpenger"
            - "$ref": "#/components/schemas/StønadTypeTilleggsStønader"
            - "$ref": "#/components/schemas/StønadTypeTiltakspenger"
    StønadsdataTilleggsstønaderDto:
      required:
        - Stønadstype
      type: object
      allOf:
        - "$ref": "#/components/schemas/StønadsdataDto"
        - type: object
          properties:
            Stønadstype:
              type: string
              enum:
                - TILSYN_BARN_ENSLIG_FORSoRGER
                - TILSYN_BARN_AAP
                - TILSYN_BARN_ETTERLATTE
                - LaeREMIDLER_ENSLIG_FORSoRGER
                - LaeREMIDLER_AAP
                - LaeREMIDLER_ETTERLATTE
            brukersNavKontor:
              type: string
              minLength: 4
              maxLength: 4
              description:
                Enhetsnummeret på NAV-kontoret som brukeren tilhører.
    StønadsdataTiltakspengerV2Dto:
      required:
        - barnetillegg
        - brukersNavKontor
        - meldekortId
        - Stønadstype
      type: object
      allOf:
        - "$ref": "#/components/schemas/StønadsdataDto"
        - type: object
          properties:
            Stønadstype:
              type: string
              enum:
                - ARBEIDSFORBEREDENDE_TRENING
                - ARBEIDSRETTET_REHABILITERING
                - ARBEIDSTRENING
                - AVKLARING
                - DIGITAL_JOBBKLUBB
                - ENKELTPLASS_AMO
                - ENKELTPLASS_VGS_OG_HoYERE_YRKESFAG
                - FORSoK_OPPLaeRING_LENGRE_VARIGHET
                - GRUPPE_AMO
                - GRUPPE_VGS_OG_HoYERE_YRKESFAG
                - HoYERE_UTDANNING
                - INDIVIDUELL_JOBBSToTTE
                - INDIVIDUELL_KARRIERESToTTE_UNG
                - JOBBKLUBB
                - OPPFoLGING
                - UTVIDET_OPPFoLGING_I_NAV
                - UTVIDET_OPPFoLGING_I_OPPLaeRING
            barnetillegg:
              type: boolean
            brukersNavKontor:
              type: string
              minLength: 4
              maxLength: 4
              description:
                Enhetsnummeret på NAV-kontoret som brukeren tilhører.
            meldekortId:
              type: string
    UtbetalingV2Dto:
      required:
        - beløp
        - fraOgMedDato
        - satstype
        - stønadsdata
        - tilOgMedDato
      type: object
      properties:
        beløp:
          type: integer
          format: int32
          description:
            Brutto beløp i hele kroner iht. satstypen. For dagsats og månedssats blir verdien multiplisert iht. 
            satstypen og perioden for å finne totalbeløpet for utbetalingen. For engangssats er verdien per definisjon 
            totalbeløpet som utbetales.
        satstype:
          type: string
          enum:
            - DAGLIG
            - MÅNEDLIG
            - ENGANGS
          description: Avgjør totalbeløpet for utbetalingsperioden.
        fraOgMedDato:
          type: string
          format: date
          description:
            Første dato for utbetalingsperioden. For månedssats må denne alltid være første dag i måneden.
        tilOgMedDato:
          type: string
          format: date
          description:
            Siste dato for utbetalingsperioden. For månedssats må denne alltid være siste dag i måneden.
        stønadsdata:
          oneOf:
            - "$ref": "#/components/schemas/StønadsdataDagpengerDto"
            - "$ref": "#/components/schemas/StønadsdataTilleggsstønaderDto"
            - "$ref": "#/components/schemas/StønadsdataTiltakspengerV2Dto"
          description:
            Et sett med ytelsesspesifikke felter for utbetalingen.
    IverksettV2Dto:
      required:
        - behandlingId
        - personident
        - sakId
        - vedtak
      type: object
      properties:
        sakId:
          maxLength: 25
          minLength: 1
          type: string
          description: Id på saken i vedtaksløsningen.
        behandlingId:
          maxLength: 30
          minLength: 1
          type: string
          description:
            Id på behandlingen i vedtaksløsningen. Brukes for å spore utbetalingen tilbake til den 
            konkrete hendelsen som trigget den. Kan også være id på vedtak, meldekort etc. DVH bruker denne når de 
            sammenstiller stønadsstatistikk.
        iverksettingId:
          type: string
          format: uuid
          description:
            Id på iverksettingen. Brukes kun når vedtaksløsningen må iverksette flere ganger for samme behandling/vedtak.
        personident:
          type: string
          description:
            Naturlig ident (fødselsnummer eller D-nummer) på personen som skal få utbetalingen. Utsjekk validerer at 
            identen har gyldig format.
          example: '15507600333'
        vedtak:
          "$ref": "#/components/schemas/VedtaksdetaljerV2Dto"
        forrigeIverksetting:
          "$ref": "#/components/schemas/ForrigeIverksettingV2Dto"
          description:
            Identifikasjon på forrige iverksetting. Settes kun når det finnes tidligere iverksettinger på saken.
    VedtaksdetaljerV2Dto:
      required:
        - beslutterId
        - saksbehandlerId
        - utbetalinger
        - vedtakstidspunkt
      type: object
      properties:
        vedtakstidspunkt:
          type: string
          format: date-time
          description: Tidspunktet vedtaket ble fattet.
        saksbehandlerId:
          pattern: "^[A-Z]\\d{6}$"
          type: string
          description:
            Enten NAV-ident på saksbehandler når behandlingen er gjort manuelt, eller navn på 
            system/applikasjon/servicebruker dersom behandlingen er gjort automatisk. Utsjekk gjør ingen validering av 
            dette feltet.
          example: Z123456
        beslutterId:
          pattern: "^[A-Z]\\d{6}$"
          type: string
          description:
            Enten NAV-ident på beslutter når behandlingen er gjort manuelt, eller navn på 
            system/applikasjon/servicebruker dersom behandlingen er gjort automatisk. Utsjekk gjør ingen validering av 
            dette feltet.
          example: Z123456
        utbetalinger:
          type: array
          items:
            "$ref": "#/components/schemas/UtbetalingV2Dto"
      description: Maa vaere satt for utbetalingsvedtak
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
