.tag {
  height: max-content;
}

.tag.xsmall {
  --tag-padding: var(--a-spacing-0) var(--a-spacing-1);
  font-size: var(--a-font-size-small);
}

.tag.xsmall > div {
  border-radius: var(--a-border-radius-medium);
}

.tag.small {
  --tag-padding: var(--a-spacing-1) var(--a-spacing-2);
  font-size: var(--a-font-size-small);
}

.tag.medium {
  --tag-padding: var(--a-spacing-1) var(--a-spacing-2);
  font-size: var(--a-font-size-medium);
  line-height: var(--a-font-line-height-large);
}

.tag > div {
  padding: var(--tag-padding);
  width: max-content;
  margin: 0;
}

.tag * {
  font-size: inherit;
  line-height: inherit;
}

.tag > div > div:first-of-type {
  display: none;
}
