.tag {
  height: max-content;
  font-size: var(--a-font-size-small);
  line-height: var(--a-font-size-small);
  min-height: unset;
}

.tag.medium {
  padding: var(--a-spacing-2);
}

.tag.small {
  padding: var(--a-spacing-1);
}

.tag.warning {
  border: 1px solid var(--a-border-warning);
  background: light-dark(
      var(--a-orange-50),
      var(--a-orange-900)
  );
}

.tag.info {
  border: 1px solid var(--a-border-info);
  background: light-dark(
      var(--a-lightblue-50),
      var(--a-lightblue-900)
  );
}

.tag.error {
  border: 1px solid var(--a-border-danger);
  background: light-dark(
      var(--a-red-50),
      var(--a-red-900)
  );
}