.nav {
  margin-right: var(--a-spacing-8);
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  position: sticky;
  top: var(--a-spacing-24);
}

.link {
  display: flex;
  align-items: center;
  padding: var(--a-spacing-2) var(--a-spacing-3);
  color: var(--a-text-default);
  gap: var(--a-spacing-3);
  font-size: var(--a-font-size-small);
  border-radius: var(--a-border-radius-xlarge);
  transition: background 0.2s ease;
}

.link:global(.active) {
  background: light-dark(var(--a-surface-neutral-subtle), var(--a-surface-neutral-active));
}