.container {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin-top: var(--a-spacing-2);
  margin-bottom: var(--a-spacing-12);
}

.document {
  padding: var(--a-spacing-4) var(--a-spacing-12);
}
