.operation {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-8);
}

.scrollAnchor {
  display: block;
  position: relative;
  top: calc(var(--a-spacing-16) * -1);
}

.path {
  display: flex;
  align-items: center;
  margin-bottom: var(--a-spacing-3);
  font-size: var(--a-font-size-small);
}

.method {
  margin-right: var(--a-spacing-4);
}

.operationAnchor {
  margin-left: var(--a-spacing-2);
}

.operationAnchor:after {
  content: "#";
  font-size: var(--a-font-size-heading-xlarge);
  font-weight: var(--a-font-weight-bold);
  color: light-dark(var(--a-gray-200), var(--a-gray-800));
  opacity: 0;
  transition: opacity 0.2s ease;
}

.operationAnchor:hover:after {
  opacity: 1;
}

.separator {
  margin: var(--a-spacing-8) 0 var(--a-spacing-16) 0;
  border-color: var(--a-border-subtle);
}