.response {
  position: relative;
  padding: var(--a-spacing-4);
}

.response:before,
.response:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--a-border-radius-large);
  pointer-events: none;
}

.response:after {
  opacity: 0.5;
}

.response.success:after {
  border: 1px solid var(--a-surface-success);
}

.response.error:after {
  border: 1px solid var(--a-surface-danger);
}

.response.neutral:after {
  border: 1px solid var(--a-surface-neutral);
}

.response:before {
  opacity: 0.1;
}

.response.success:before {
  background: var(--a-surface-success);
}

.response.error:before {
  background: var(--a-surface-danger);
}

.response.neutral:before {
  background: var(--a-surface-neutral);
}

.header {
  display: flex;
  align-items: center;
}

.expandButton {
  margin: calc(var(--a-spacing-3) * -1);
  padding: var(--a-spacing-3);
  width: 100%;
}

.expandButton:hover {
  text-decoration: underline;
}

.icon {
  transition: transform 0.2s ease;
}

.expandButton.expanded .icon {
  transform: rotate(90deg);
}

.mediaType {
  margin-top: var(--a-spacing-4);
}