.container {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
}

.title {
  font-weight: var(--a-font-weight-bold);
  margin-bottom: var(--a-spacing-4);
}

.responses {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
}

.tabs {
  margin-top: 0;
  font-size: var(--a-font-size-small);
}

.examplesHeading {
  margin-top: var(--a-spacing-2);
}