.container {
  position: relative;
  width: 100%;
  height: max-content;
  margin-bottom: var(--a-spacing-4);
}

.button {
  --button-vertical-padding: var(--a-spacing-2);
  border-radius: var(--a-border-radius-medium);
  padding: var(--button-vertical-padding) var(--a-spacing-3);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: var(--a-font-size-small);
  font-family: inherit;
  color: light-dark(
      rgb(107 114 128 / var(--tw-text-opacity)),
      rgb(163 163 163 / var(--tw-text-opacity))
  );
  background: light-dark(
      white, rgba(0,0,0,0.5)
  );
  cursor: pointer;
}

.button:hover {
  background: light-dark(
      hsl(212deg 100% calc(45% + 49%) / 1),
      hsl(204deg 100% calc(55% + 21%) / 0.1)
  );
  color: var(--a-text-default);
  font-weight: 600;
}

.docButtons {
  position: absolute;
  bottom: calc((100% + var(--button-vertical-padding)) * -1);
  width: 100%;
  border-radius: var(--a-border-radius-medium);
  background: light-dark(white, black)
}